---
import "../../styles/global.css";
---
<section id="questions" data-header-color="transparent" data-header-logo="2" class="bg-[#4E7881] h-screen w-screen relative flex justify-center flex-col px-6 sm:px-8 py-8 md:px-12 lg:px-16 xl:px-18 2xl:px-44 md:py-14 xl:py-24">
    <h2 data-animation="animate__pulse" class="animate__animated text-2xl sm:text-3xl md:text-5xl lg:text-4xl xl:text-6xl font-[Poppins] font-light mb-6 md:mb-8 xl:mb-14 2xl:mb-24 mt-4 sm:mt-10 xl:mt-0 text-white px-0 sm:px-2 lg:px-8 xl:px-16">Preguntas Frecuentes</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-4">
        <div data-animation="animate__pulse" class="animate__animated flex justify-center flex-col px-0 sm:px-2 lg:px-8 xl:px-16">
            
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 xl:py-4 text-white text-base sm:text-lg xl:text-2xl">¿Qué tratamientos ofrecen?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">Nos especializamos en procedimientos de  restauración capilar: técnica FUE, línea del cabello, injerto de barba y ceja, y terapia con PRP (Plasma Rico en Plaquetas).</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 xl:py-4 text-white text-base sm:text-lg xl:text-2xl">¿Soy candidato?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">Si tienes pérdida de cabello estable y buena densidad en la zona donante, probablemente sí. Una consulta médica rápida con nuestro equipo lo determinará.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 xl:py-4 text-white text-base sm:text-lg xl:text-2xl">¿Es doloroso?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">Para nada. Usamos anestesia local. Podrías sentir una ligera molestia después, pero es manejable con analgésicos comunes.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 xl:py-4 text-white text-base sm:text-lg xl:text-2xl">¿Cuánto dura el procedimiento?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">Entre 4 y 8 horas. Se realiza en un solo día.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 xl:py-4 text-white text-base sm:text-lg xl:text-2xl">¿Cómo es la recuperación?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">La mayoría vuelve al trabajo en 2 a 5 días. La curación total toma un par de semanas y te guiaremos en cada paso.</p>
            </div>
            <div class="hidden md:flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>

        </div>
        <div data-animation="animate__pulse" class="animate__animated flex justify-center flex-col px-0 sm:px-2 lg:px-8 xl:px-16">

            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 xl:py-4 text-white text-base sm:text-lg xl:text-2xl">¿Cuándo veré resultados?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">El crecimiento inicia entre el mes 3 y 4. Los resultados definitivos se aprecian entre los 6 y 12 meses.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 xl:py-4 text-white text-base sm:text-lg xl:text-2xl">¿Se caerá el cabello injertado?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">Es normal que el cabello inicial se caiga las primeras semanas (¡no te asustes!). Es parte del ciclo. El cabello nuevo y permanente crecerá poco después.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 xl:py-4 text-white text-base sm:text-lg xl:text-2xl">¿Los resultados son permanentes?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">Sí. El cabello se extrae de zonas resistentes a la hormona que causa la calvicie.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 xl:py-4 text-white text-base sm:text-lg xl:text-2xl">¿Las mujeres pueden hacerse injertos?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">Claro que sí. Ayudamos a muchas mujeres con adelgazamiento de cabello o líneas de crecimiento retrasadas.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 xl:py-4 text-white text-base sm:text-lg xl:text-2xl">¿Hay riesgo de cicatrices?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">Con la técnica FUE, las cicatrices son prácticamente invisibles. Son micro-puntos en la zona donante que se ocultan incluso con cabello corto.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>

        </div>
    </div>
</section>

<script>
    document.querySelectorAll(".accordion").forEach((accordion) => {
        accordion.addEventListener("click", () => {
            // Cerrar todos los paneles antes de abrir uno
            document.querySelectorAll(".accordion").forEach((other) => {
            if (other !== accordion) {
                other.classList.remove("active");
                other.nextElementSibling.style.maxHeight = null;
            }
            });

            // Alternar el panel actual
            accordion.classList.toggle("active");
            const panel = accordion.nextElementSibling;
            panel.style.maxHeight = panel.style.maxHeight ? null : panel.scrollHeight + "px";
        });
    });

</script>