---
import "../../styles/global.css";
---
<section id="reviews" data-header-color="#91C1C1" data-header-logo="1" class="bg-[#4E7881] h-screen w-screen relative flex flex-col items-center justify-center px-6 py-8 md:px-12 lg:px-14 xl:px-32 md:py-14 xl:py-24">
    <h2 data-animation="animate__pulse" class="animate__animated text-4xl md:text-5xl xl:text-6xl font-medium font-[Poppins] mt-8 lg:mt-12 mb-2 text-center md:text-right text-white">Somos todo un éxito</h2>
    <h3 data-animation="animate__pulse" class="animate__animated text-xl md:text-2xl xl:text-3xl font-light font-[Poppins] mb-8 lg:mb-12 text-center md:text-right text-white">según Google Reviews</h3>
    <!-- Elfsight Google Reviews | Untitled Google Reviews -->
    <!-- <script is:inline type="module" src="https://elfsightcdn.com/platform.js" async></script>
    <div class="elfsight-app-5cee13ba-444b-49d5-8f46-685245f008d8" data-elfsight-app-lazy></div>-->
    <script is:inline src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
    <div class="commonninja_component pid-85daf3b0-47ec-4e46-b13f-c6d59a8e6de5"></div>
</section>

<!-- Script para ocultar el enlace -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const interval = setInterval(() => {
      const widget = document.querySelector(".commonninja_component");

      if (widget && widget.shadowRoot) {
        const cards = widget.shadowRoot.querySelectorAll(".review-item");

        const links = document.querySelectorAll('.commonninja-ribbon');
        links.forEach(link => (link.style.display = 'none !important'));

        if (cards.length) {
          cards.forEach(card => {
            card.style.maxHeight = "356px";
            card.style.minHeight = "200px";
            card.style.padding = "0 25px 25px";
          });
          clearInterval(interval);
        }
      }
    }, 300);
  });
  
  function hideElfsightLink() {
    const links = document.querySelectorAll('.elfsight-app-5cee13ba-444b-49d5-8f46-685245f008d8 a[href*="elfsight.com"]');
    links.forEach(link => (link.style.display = 'none'));
  }

  // Intentar ocultarlo cada 500 ms por 5 segundos
  let tries = 0;
  const interval = setInterval(() => {
    hideElfsightLink();
    tries++;
    if (tries > 10) clearInterval(interval);
  }, 500);