<section id="techniques" data-header-color="#91C1C1" data-header-logo="1" class="bg-white h-screen w-screen relative flex items-center justify-center px-8 py-8 md:px-12 lg:px-16 xl:px-28 md:py-14 xl:py-24">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 xl:gap-8 mt-16 md:mt-0 lg:mt-16">
        <!-- Imagen -->
        <div class="hidden md:flex items-center justify-center">
            <img data-animation="animate__pulse" class="animate__animated h-2/5 w-2/5 md:h-4/5 md:w-4/5 2xl:h-5/6 2xl:w-5/6 object-cover object-top rounded-lg shadow-md" src="/doctor.webp" alt="Doctor Sergio Piña HMR">
        </div>

        <!-- Texto -->
        <div class="flex flex-col justify-center">
            <h2 data-animation="animate__pulse" class="animate__animated text-left text-xl sm:text-2xl md:text-3xl xl:text-4xl 2xl:text-5xl font-[Poppins] font-light mb-0 xl:mb-4 2xl:mb-4 text-[#376374] leading-tight">
                The hands behind your new hair Meet Dr. Sergio Piña
            </h2>
            <!-- <p data-animation="animate__pulse" class="animate__animated text-sm lg:text-base 2xl:text-xl text-justify text-gray-700">
                At <strong>winhair</strong>, we use the <strong>FUE + DHI technique</strong> because it gives you the most natural-looking results with the least amount of downtime. 
                <span class="block mt-4">FUE (Follicular Unit Extraction) means we take each follicle one by one — no big scars, no stitches. Then, with DHI (Direct Hair Implantation), we place each graft with precision to control the angle, depth, and direction of your new hair.</span>
                <span class="block mt-4">The result? A dense, natural hairline that actually looks like yours — because it is. It’s the most advanced method out there, and it’s what we trust to get the kind of results you’ll feel good showing off.</span>
            </p>-->
            <p data-animation="animate__pulse" class="animate__animated text-sm lg:text-base 2xl:text-xl text-justify text-gray-700">
                <span class="technique-text block mt-4 text-sm lg:text-base 2xl:text-xl text-justify text-gray-700">With over 7 years of experience and a Master’s Degree in Aesthetic Surgery, Dr. Piña isn't your typical rigid surgeon. He’s a dedicated professional who believes medicine is about more than just procedures—it’s about improving lives.</span>
                <span class="technique-text block mt-4 text-sm lg:text-base 2xl:text-xl text-justify text-gray-700">Credentials you can trust:</span>
                <ul class="technique-text block mt-4 lg:pl-8 list-disc list-inside text-sm lg:text-base 2xl:text-xl text-justify text-gray-700">
                    <li>Medical Degree & Master’s in Aesthetic Surgery</li>
                    <li>Professional License: 5638574</li>
                    <li>7+ Years of Specialized Experience</li>
                    <li>Turkish technique trained</li>
                </ul>
                <span class="technique-text block mt-4 text-sm lg:text-base 2xl:text-xl text-justify text-gray-700"><strong>Outside the Clinic </strong><br>When he’s not busy transforming hairlines, you’ll likely find Dr. Piña enjoying the simple things: playing video games, catching a movie, or spending quality time with his family. We told you—no weird vibes here, just real people who happen to be experts at what they do.</span>
            </p>

            <img class="mt-10 mx-auto h-2/5 w-2/5 block md:hidden object-cover rounded-lg shadow-md" src="/doctor.webp" alt="FUE + DHI technique">
        </div>
    </div>
</section>