<section id="home" class="flex flex-col items-center justify-end bg-blue-400 h-screen w-screen text-center relative overflow-hidden" data-header-color="transparent" data-header-logo="1">
    <div class="price grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 xl:mb-4 z-30 w-full max-w-9xl mx-auto">
        <!-- Galería -->
        <div data-animation="animate__pulse" class="animate__animated hidden md:grid grid-cols-2 gap-4">
            
        </div>

        <!-- Texto -->
        <div data-animation="animate__pulse" class="animate__animated flex justify-center">
            <div class="card flex flex-col text-center max-w-md xl:max-w-xl 2xl:max-w-2xl rounded-2xl bg-white p-4 sm:p-6 lg:p-6 xl:p-10 shadow-lg mb-4 sm:mb-0">
                <h3 class="font-[Poppins] text-gray-800 text-xl sm:text-3xl md:text-2xl xl:text-2xl 2xl:text-4xl font-semibold mb-1 xl:mb-3">All the hair you need for</h3>
                
                <div class="flex items-center justify-center mb-1 xl:mb-4 flex-wrap">
                <span class="font-[Poppins] mr-2 text-4xl sm:text-6xl md:text-7xl xl:text-7xl 2xl:text-8xl font-bold text-[#376374]">$2,500</span>
                <span class="text-xl sm:text-3xl md:text-3xl xl:text-3xl 2xl:text-4xl font-[Poppins] font-extrabold text-[#376374]">USD</span>
                </div>
                
                <!-- <span class='mb-4 xl:mb-6 font-[Poppins] bg-[#91C1C1] text-[#376374] text-xl sm:text-2xl md:text-lg xl:text-2xl 2xl:text-3xl font-semibold px-2 rounded-lg py-1'>What's included?</span>-->
                
                <span class='mb-1 sm:mb-2 xl:mb-4 font-[Poppins] text-gray-800 text-lg sm:text-2xl md:text-xl xl:text-2xl 2xl:text-3xl font-semibold rounded-lg'>What's included?</span>

                <!-- Lista -->
                <ul class="mb-2 sm:mb-4 xl:mb-6 space-y-1 sm:space-y-3 text-left text-lg sm:text-xl text-[#376374]">
                <li class="flex items-center space-x-3 font-[Poppins]">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-6 h-6 xl:w-8 xl:h-8 text-[#376374]" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span class="text-gray-800 text-sm sm:text-base md:text-lg">Full procedure</span>
                </li>
                <li class="flex items-center space-x-3 font-[Poppins]">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-6 h-6 xl:w-8 xl:h-8 text-[#376374]" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <div class="flex flex-col">
                    <span class="text-gray-800 text-sm sm:text-base md:text-lg">PRP therapy</span>
                    <small class="text-xs sm:text-sm">(on the day of the procedure)</small>
                    </div>
                </li>
                <li class="flex items-center space-x-3 font-[Poppins]">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-6 h-6 xl:w-8 xl:h-8 text-[#376374]" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span class="text-gray-800 text-sm sm:text-base md:text-lg">Follow-up support</span>
                </li>
                <li class="flex items-center space-x-3 font-[Poppins]">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-6 h-6 xl:w-8 xl:h-8 text-[#376374]" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <div class="flex flex-col">
                    <span class="text-gray-800 text-sm sm:text-base md:text-lg">Post-op kit and instruction</span>
                    <small class="text-xs sm:text-sm">(if you make your deposit this month)</small>
                    </div>
                </li>
                </ul>

                <span class='offer mb-2 sm:mb-4 xl:mb-6 font-[Poppins] bg-[#91C1C1] text-[#376374] text-sm sm:text-xl md:text-base xl:text-xl 2xl:text-2xl font-semibold px-3 rounded-lg py-2'>LIMITED TIME OFFER: <br> FREE Hotel (2 Nights) + Private Driver</span>
                
                <a href="#aboutUs" class="py-3 xl:py-4 px-6 xl:px-8 rounded-lg text-base xl:text-lg text-white font-semibold text-center w-full mx-auto shadow-md bg-[#376374] transition-all duration-500 hover:bg-[#547785]">More information</a>
            </div>
        </div>
        
    </div>
    
    <div class="hidden sm:px-8 md:px-16 lg:px-48 py-8 relative z-30 sm:flex justify-end flex-col w-full text-white">
        <div class="flex flex-initial justify-between home">
            <a href="https://www.google.com/maps/place/WinHair/data=!4m2!3m1!1s0x0:0x96662e89d80e8f16?sa=X&ved=1t:2428&hl=es-419&ictx=111" target="_blank" data-type="url" data-animation="animate__pulse" class="animate__animated text-lg"><span>Av. Diego Rivera 2339 - Int. 201, <br> Zona Urbana Rio Tijuana, 22010</span></a>
            <p data-animation="animate__pulse" class="animate__animated text-lg"><a href="tel:+526634375455">MX +52 (663) 437-5455</a><br><a href="tel:+16199466456">US +1 (619) 946-6456</a></p>
            <p data-animation="animate__pulse" class="animate__animated text-lg"><a href="mailto:info@winhairtj.com" target="_self" data-type="url">info@winhairtj.com</a><br><span>Hair made simple.</span></p>
        </div>
    </div>

    <div class="absolute top-0 bottom-0 h-full z-10 w-full">
        <!-- <video class="object-center object-cover h-full w-full grayscale" autoplay muted loop playsinline src="/young-handsome-muscular-shirtless-man-brushing-hair.webm"></video>-->
        <video class="object-center object-cover h-full w-full grayscale" autoplay muted loop playsinline>
            <source src="/young-handsome-muscular-shirtless-man-brushing-hair.webm" type="video/webm">
            <source src="/young-handsome-muscular-shirtless-man-brushing-hair.mp4" type="video/mp4">
            Tu navegador no soporta video en HTML5.
        </video>
    </div>
</section>