<section id="home" class="flex items-end bg-blue-400 h-screen w-screen text-center relative overflow-hidden" data-header-color="transparent" data-header-logo="1">
    <div class="hidden sm:px-8 md:px-16 lg:px-48 py-8 relative z-30 sm:flex flex-grow justify-end flex-col h-full text-white">
        <div class="flex flex-initial justify-between">
            <a href="https://www.google.com/maps/place/WinHair/data=!4m2!3m1!1s0x0:0x96662e89d80e8f16?sa=X&ved=1t:2428&hl=es-419&ictx=111" target="_blank" data-type="url" data-animation="animate__pulse" class="animate__animated text-lg"><span>Av. Diego Rivera 2339 - Int. 201, <br> Zona Urbana Rio Tijuana, 22010</span></a>
            <p data-animation="animate__pulse" class="animate__animated text-lg"><a href="tel:+526634375455">MX +52 (663) 437-5455</a><br><a href="tel:+16197048708">USA +1 (619) 704-8708</a></p>
            <p data-animation="animate__pulse" class="animate__animated text-lg"><a href="mailto:info@winhairtj.com" target="_self" data-type="url">info@winhairtj.com</a><br><span>Hair made simple.</span></p>
        </div>
    </div>

    <div class="absolute top-0 bottom-0 h-full z-10 w-full">
        <!-- <video class="object-center object-cover h-full w-full grayscale" autoplay muted loop playsinline src="/young-handsome-muscular-shirtless-man-brushing-hair.webm"></video>-->
        <video class="object-center object-cover h-full w-full grayscale" autoplay muted loop playsinline>
            <source src="/young-handsome-muscular-shirtless-man-brushing-hair.webm" type="video/webm">
            <source src="/young-handsome-muscular-shirtless-man-brushing-hair.mp4" type="video/mp4">
            Tu navegador no soporta video en HTML5.
        </video>
    </div>
</section>