<section id="info" data-header-color="transparent" data-header-logo="2" class="h-screen w-screen relative overflow-hidden bg-no-repeat bg-cover flex items-center justify-center px-6 sm:px-10 md:px-20 lg:px-32 xl:px-48 2xl:px-60 
            min-[1700px]:before:content-none
            before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-[#376374] before:opacity-50" 
    style="background-image: url('../../2.webp');">
    
    <div class="max-w-2xl lg:max-w-lg xl:max-w-2xl ml-0 xl:ml-auto text-left text-white z-40 md:mt-20 xl:mt-0">
        <h2 data-animation="animate__pulse" class="animate__animated text-3xl md:text-5xl lg:text-5xl 2xl:text-6xl font-[Poppins] font-light mt-8 sm:mt-16 md:mt-0 mb-6 lg:mb-4 2xl:mb-8">
            Old school clinics? <br class="hidden sm:block"> Not our style.
        </h2>
        <p data-animation="animate__pulse" class="animate__animated mb-6 lg:mb-4 2xl:mb-8 text-sm sm:text-base md:text-lg lg:text-base 2xl:text-lg leading-relaxed">
            Welcome to <strong>winhair</strong>, a fresh take on hair transplants in Tijuana. We’re not here to throw fancy medical terms at you or hide behind lab coats. We keep it real: one flat price, all the grafts you need, and a team of certified experts who care about getting you real, natural-looking results. No weird vibes, no surprise costs , just a smooth, honest process that helps you feel like yourself again (but with way better hair).
        </p>
        <img data-animation="animate__pulse" class="animate__animated w-full h-full object-cover rounded-lg mb-6 lg:mb-4 2xl:mb-8 block xl:block md:w-9/12 2xl:w-full" src="/detko.webp" alt="Gallery image">
        <a href="#aboutUs" data-animation="animate__pulse" class="animate__animated font-[Poppins] inline-block font-semibold px-6 py-3 border border-white rounded-lg hover:bg-white hover:text-black transition">
            Get better hair
        </a>
    </div>
</section>
