<section id="price" data-header-color="transparent" data-header-logo="1" class="bg-[#91C1C1] h-screen w-screen relative flex items-center justify-center px-6 py-8 md:px-14 xl:px-32 md:py-14 xl:py-24">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-10 sm:mt-20 lg:mt-10 xl:mt-20">
    <!-- Galería -->
    <div data-animation="animate__bounce" class="animate__animated hidden md:grid grid-cols-2 gap-4">
      <div>
        <img class="w-full h-full object-cover rounded-lg" src="/young-nurse-working-at-the-hospital.webp" alt="Gallery image" />
      </div>
      <div>
        <img class="w-full h-full object-cover rounded-lg" src="/detko.webp" alt="Gallery image" />
      </div>
      <div>
        <img class="w-full h-full object-cover rounded-lg" src="/wainting-room.webp" alt="Gallery image" />
      </div>
      <div>
        <img class="w-full h-full object-cover rounded-lg" src="/hair.webp" alt="Gallery image" />
      </div>
    </div>

    <!-- Texto -->
    <div data-animation="animate__bounce" class="animate__animated flex justify-center">
      <div class="flex flex-col text-center max-w-lg xl:max-w-2xl 2xl:max-w-3xl rounded-2xl bg-white p-6 sm:p-6 lg:p-8 xl:p-10 shadow-lg">
        <h3 class="font-[Poppins] text-gray-800 text-3xl sm:text-4xl md:text-2xl xl:text-4xl 2xl:text-5xl font-semibold mb-3">All the hair you need for</h3>
        
        <div class="flex items-center justify-center mb-4 flex-wrap">
          <span class="font-[Poppins] mr-2 text-6xl sm:text-7xl md:text-6xl xl:text-8xl 2xl:text-9xl font-bold text-[#376374]">$2,500</span>
          <span class="text-3xl sm:text-4xl md:text-2xl xl:text-4xl 2xl:text-5xl font-[Poppins] font-extrabold text-[#376374]">USD</span>
        </div>
        
        <span class='mb-4 xl:mb-8 font-[Poppins] bg-[#91C1C1] text-[#376374] text-2xl sm:text-3xl md:text-xl xl:text-3xl 2xl:text-4xl font-semibold px-2 rounded-lg py-1'>What's included?</span>
        
        <!-- Lista -->
        <ul class="mb-6 space-y-3 text-left text-lg sm:text-xl text-[#376374]">
          <li class="flex items-center space-x-3 font-[Poppins]">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-6 h-6 xl:w-8 xl:h-8 text-[#376374]" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <span class="text-gray-800 text-base md:text-lg sm:text-2xl">Full procedure</span>
          </li>
          <li class="flex items-center space-x-3 font-[Poppins]">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-6 h-6 xl:w-8 xl:h-8 text-[#376374]" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div class="flex flex-col">
              <span class="text-gray-800 text-base md:text-lg sm:text-2xl">PRP therapy</span>
              <small class="text-xs sm:text-sm">(on the day of the procedure)</small>
            </div>
          </li>
          <li class="flex items-center space-x-3 font-[Poppins]">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-6 h-6 xl:w-8 xl:h-8 text-[#376374]" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <span class="text-gray-800 text-base md:text-lg sm:text-2xl">Follow-up support</span>
          </li>
          <li class="flex items-center space-x-3 font-[Poppins]">
            <!-- Icon -->
            <svg class="flex-shrink-0 w-6 h-6 xl:w-8 xl:h-8 text-[#376374]" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div class="flex flex-col">
              <span class="text-gray-800 text-base md:text-lg sm:text-2xl">Post-op kit and instruction</span>
              <small class="text-xs sm:text-sm">(if you make your deposit this month)</small>
            </div>
          </li>
        </ul>
        
        <a href="#aboutUs" class="py-3 xl:py-4 px-6 xl:px-8 rounded-lg text-base xl:text-lg text-white font-semibold text-center w-full mx-auto shadow-md bg-[#376374] transition-all duration-500 hover:bg-[#547785]">More information</a>
      </div>
    </div>
  </div>
</section>