---
import "../styles/global.css";
---
<section id="questions" data-header-color="transparent" data-header-logo="2" class="bg-[#4E7881] h-screen w-screen relative flex justify-center flex-col px-6 sm:px-8 py-8 md:px-16 xl:px-18 2xl:px-44 md:py-14 xl:py-24">
    <h2 data-animation="animate__bounce" class="animate__animated text-2xl sm:text-3xl md:text-5xl xl:text-6xl font-[Poppins] font-light mb-6 md:mb-12 xl:mb-24 mt-10 xl:mt-0 text-white px-0 sm:px-2 lg:px-8 xl:px-16">Frequently asked <br>questions.</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-4">
        <div data-animation="animate__bounce" class="animate__animated flex justify-center flex-col px-0 sm:px-2 lg:px-8 xl:px-16">
            
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 md:py-4 text-white text-base sm:text-lg md:text-xl xl:text-2xl">What treatments do you offer?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">We specialize in hair restoration procedures such as FUE (Follicular Unit Extraction) hair transplants, beard and eyebrow transplants, PRP (Platelet-Rich Plasma) therapy, and scalp micropigmentation.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 md:py-4 text-white text-base sm:text-lg md:text-xl xl:text-2xl">Am I a candidate for a hair transplant?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">Ideal candidates are individuals with stable hair loss, good donor hair density, and realistic expectations. A consultation with our medical team will help determine the best treatment for your case.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 md:py-4 text-white text-base sm:text-lg md:text-xl xl:text-2xl">Is the procedure painful?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">Hair transplant procedures are performed under local anesthesia, so you won’t feel pain during the procedure. Some mild discomfort may occur after, but it’s usually manageable with over-the-counter medication.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 md:py-4 text-white text-base sm:text-lg md:text-xl xl:text-2xl">How long does the procedure take?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">It depends on the number of grafts, but most procedures take between 4 to 8 hours and are done in a single day.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 md:py-4 text-white text-base sm:text-lg md:text-xl xl:text-2xl">What is the recovery time?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">Most patients return to work within 2 to 5 days. Full healing of the donor and recipient areas typically takes a few weeks, and we’ll guide you through the recovery process.</p>
            </div>
            <div class="hidden md:flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>

        </div>
        <div data-animation="animate__bounce" class="animate__animated flex justify-center flex-col px-0 sm:px-2 lg:px-8 xl:px-16">

            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 md:py-4 text-white text-base sm:text-lg md:text-xl xl:text-2xl">When will I see results?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">You’ll begin seeing growth at around 3–4 months, with the most noticeable results between 6–12 months after the procedure.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 md:py-4 text-white text-base sm:text-lg md:text-xl xl:text-2xl">Will the transplanted hair fall out?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">It’s normal for transplanted hairs to shed within the first few weeks. This is part of the natural growth cycle. The new hair will start to grow permanently in the following months.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 md:py-4 text-white text-base sm:text-lg md:text-xl xl:text-2xl">How long do the results last?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">Transplanted hair is generally permanent, as it is resistant to the hormone (DHT) that causes hair loss. However, ongoing hair thinning in untreated areas may require future sessions or medical treatments.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 md:py-4 text-white text-base sm:text-lg md:text-xl xl:text-2xl">Can women get hair transplants too?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">Absolutely. Many women benefit from hair restoration to treat thinning hair, receding hairlines, or to fill in gaps due to traction alopecia or hormonal changes.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>
            <button class="accordion cursor-pointer text-left py-2 md:py-4 text-white text-base sm:text-lg md:text-xl xl:text-2xl">Is there a risk of scarring?</button>
            <div class="panel text-sm sm:text-base text-white leading-6 py-4 w-full overflow-hidden">
                <p class="pb-4 md:pb-6 w-full">With FUE, scarring is minimal and typically not visible. Tiny dot-like scars may remain in the donor area, but they’re well-hidden even with short hair.</p>
            </div>
            <div class="flex w-full items-center rounded-full">
                <div class="flex-1 border-b border-white"></div>
                <div class="flex-1 border-b border-white"></div>
            </div>

        </div>
    </div>
</section>

<script>
    document.querySelectorAll(".accordion").forEach((accordion) => {
        accordion.addEventListener("click", () => {
            // Cerrar todos los paneles antes de abrir uno
            document.querySelectorAll(".accordion").forEach((other) => {
            if (other !== accordion) {
                other.classList.remove("active");
                other.nextElementSibling.style.maxHeight = null;
            }
            });

            // Alternar el panel actual
            accordion.classList.toggle("active");
            const panel = accordion.nextElementSibling;
            panel.style.maxHeight = panel.style.maxHeight ? null : panel.scrollHeight + "px";
        });
    });

</script>